*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: min(80rem, 100%);
}
.frame {
  position: relative;
}
.thbreak {
  margin: 1.5rem 0;
  width: min(32rem, 90%);
  height: 0.1rem;
  background: #212121;
  border: none;
}

.header {
  margin-top: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header-logo {
  margin: 1.5rem 0;
  width: min(60rem, 80vw);
}
.header-subtitle {
  margin: 1.5rem 0;
  width: min(50rem, 100%);
  text-align: center;
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: #212121;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.form {
  margin: 5rem 0;
  position: relative;
  padding: 3rem 1rem;
  width: min(40rem, 100%);
  border: 0.1rem dashed #212121;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.form-sticker {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3.1rem;
  height: 2.6rem;
}
.form-input {
  margin: 2.5rem 0;
  padding: 0.5rem 2rem;
  width: min(30rem, 100%);
  height: 5rem;
  border: 0.1rem solid #212121;
  border-radius: 3rem;
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  font-size: clamp(1.8rem, 3vw, 2rem);
  color: #212121;
}
.form-label {
  position: absolute;
  top: 1.2rem;
  left: 4rem;
  content: "";
  background: #ffffff;
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  font-size: clamp(1.8rem, 3vw, 2rem);
  color: #212121;
}
.form-button {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  width: min(20rem, 90%);
  height: 6rem;
  background: none;
  border: 0.1rem dashed #212121;
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  font-size: clamp(1.8rem, 3vw, 2rem);
  color: #212121;
}

.footer {
  margin-bottom: 6rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.footer-notice {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  color: #212121;
}
